---
layout: default
title: Home
body_classes: page-home
header_classes: header-transparent
heroHeading: "Hypothesis Library"
heroSubHeading: "Unlimited Test Ideas"
heroSubHeadingTwo: "Unlimited Storage"
heroSubHeadingThree: "Unlimited Teamwork"
cta:
cta-href:
heroBackground: ""
heroBackgroundOverlay: false
heroHeight: 500
heroDiagonal: true
heroDiagonalFill: "#f4f5fb"
meta_title: "Hypothesis Library"
meta_description: "Always test your team's best ideas first"
meta_og_title: "Hypothesis Library"
meta_og_type: website
meta_og_url: "https://www.hypothesislibrary.com/"
meta_og_image: "https://www.hypothesislibrary.com/assets/images/hyoothesislibrary-social.jpg"
meta_og_description: "Always test your team's best ideas first"
contact-button-id: footer-cta
---

<!-- Hero Image Partial-->
{% include hero-image.html background=null fullscreen=page.heroFullscreen
height=page.heroHeight heading=page.heroHeading subheading=page.heroSubHeading
subheadingTwo=page.heroSubHeadingTwo subheadingThree=page.heroSubHeadingThree
cta=page.cta cta-href=page.cta-href overlay=page.heroBackgroundOverlay
diagonal=page.heroDiagonal diagonalfill=page.heroDiagonalFill %}

<!-- First Paragraph -->
<div class="strip strip-grey pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-between flex-wrap">
      <div class="col-12 col-lg-5 mt-0 mt-lg-4 mb-4 mb-lg-0">
        <p class="large text-justify text-md-left">
          Everyone in your team can see and add ideas to
          <a id="ez-link-first-p" href="https://experimentzone.com/" class="inline-link"
            >Experiment Zone's</a
          >
          Hypothesis Library free tool. This helps your team members synthesize
          great hypotheses and develop better experiment ideas.
        </p>
      </div>
      <div class="card col-offset-lg-1 col-12 col-lg-6">
        <div id="generic_price_table">
          <section>
            <div class="col-12 team-summary m-xl-3 d-block">
              <div class="p-0 p-md-2 strip-mint">
                <div class="card-diagonal">
                  <div class="card-header">
                    <div class="card-title">
                      <h2>Find your best test ideas</h2>
                    </div>
                  </div>
                  <div class="card-text text-center">
                    <h1
                      class="p-2 m-0"
                      style="font-size: 60px; font-weight: 400"
                    >
                      Free
                    </h1>
                    <p class="pt-2 pb-2"><span>System to score ideas</span></p>
                    <p class="pt-2 pb-2"><span>Set your goals</span></p>
                    <p class="pt-2 pb-2"><span>Vote the best ideas</span></p>
                    <p class="pt-2 pb-2">
                      <span>Keep Track on the Dashboard</span>
                    </p>
                    <div class="pt-2 pb-4 pb-md-2">
                      <a
                        id="card-cta"
                        href="https://app.experimentzone.com/"
                        class="button signup-btn"
                        >Get Started - It's Free</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slash systemic evaluation -->
<div class="strip strip-mint pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center">
        <h2>Find the best ideas through systematic evaluation</h2>
        <div class="row justify-content-center mt-2">
          <div class="col-12 col-md-10">
            <p class="large text-justify text-md-center">
              Scoring is a simple and consistent way to prioritize ideas in your
              backlog. Most teams use scores to inform their decisions about
              which experiments to run next. The scoring feature in Hypothesis
              Library comes set up with <b>five predefined* criteria</b> your
              team can use:
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6 col-sm-4 col-md-4 mb-2">
            <div class="feature p-0">
              <div class="feature-image" style="width: 80px; height: 80px">
                <img alt="Idea Icon" src="./assets/images/idea-icon.png" />
              </div>
              <h2 class="feature-title mt-2">Test Effort</h2>
              <p>How much work will this be to test?</p>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-2">
            <div class="feature p-0">
              <div class="feature-image" style="width: 80px; height: 80px">
                <img alt="Time Icon" src="./assets/images/time-icon.png" />
              </div>
              <h2 class="feature-title mt-2">Implementation Effort</h2>
              <p>How much work will this be to implement?</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6 col-sm-4 col-md-4 mb-2">
            <div class="feature p-0">
              <div class="feature-image" style="width: 80px; height: 80px">
                <img
                  alt="Confidence Icon"
                  src="./assets/images/confidence-icon.png"
                />
              </div>
              <h2 class="feature-title mt-2">Confidence</h2>
              <p>How confident are we that this will work?</p>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-2">
            <div class="feature p-0">
              <div class="feature-image" style="width: 80px; height: 80px">
                <img
                  alt="Magnifier Icon"
                  src="./assets/images/magnifier-icon.png"
                />
              </div>
              <h2 class="feature-title mt-2">Evidence</h2>
              <p>
                How much evidence is there that this is solving a real user
                problem?
              </p>
            </div>
          </div>
          <div class="col-6 col-sm-4 col-md-4 mb-2">
            <div class="feature p-0">
              <div class="feature-image" style="width: 80px; height: 80px">
                <img alt="Impact Icon" src="./assets/images/impact-icon.png" />
              </div>
              <h2 class="feature-title mt-2">Impact</h2>
              <p>
                How much of an impact will this have overall for the business?
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <a id="systemic-evaluation-cta" href="https://app.experimentzone.com/" class="button mt-2 signup-btn"
          >Ready to try it?</a
        >
        <p class="mt-5" style="font-size: small">
          *If your organization has its own scoring rubric for ideas, you can
          configure Experiment Zone's custom scoring to match it.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Splash Give your collaborators the right access -->
<div class="strip strip-white pt-5 pb-5 splash splash-one">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <img
          class="img-fluid"
          alt="People at work image"
          src="./assets/images/people-at-work-small-format.png"
        />
      </div>
      <div class="col-12 col-lg-6">
        <h2 class="mt-5 mt-lg-0">Give your collaborators the right access</h2>
        <p class="text-justify text-md-left">
          Many companies want to get ideas from everywhere. Great inspiration
          can come from clients, users, customer service reps, user researchers,
          data analysts. Only a few have the expertise to evaluate the quality
          of the ideas for improving revenue.
        </p>
        <p class="text-justify text-md-left">
          With Hypothesis Library's advanced permissioning, you can get ideas
          from anyone - and keep the prioritization within the core team
          responsible for testing.
        </p>
        <a
          id="ez-link-collaborators-the-right-access"
          style="text-decoration: underline; text-transform: uppercase;"
          href="https://experimentzone.com/giveaways/report_card/"
        >
          Need Help bringing your Test ideas to life? Get in touch
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Splash Take your ideas with you wherever you go -->
<div class="strip strip-mint pt-5 pb-5 splash splash-one">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 mb-5">
        <h2 class="mt-2 mt-lg-0">Take your ideas with you wherever you go</h2>
        <p class="text-justify text-md-left">
          Do you capture your ideas in your AB testing tool - such as Optimizely
          or VWO - today? What happens if your organization can no longer use
          those tools because your needs change? Fear not - with Hypothesis
          Library, your team can move between any AB testing, user insights, or
          analytics tools without losing your great ideas.
        </p>
        <a
          id="ez-link-take-your-ideas-with-you"
          style="text-decoration: underline;text-transform: uppercase;"
          href="https://experimentzone.com/giveaways/report_card/"
        >
          Need Help bringing your Test ideas to life? Get in touch
        </a>
      </div>
      <div class="col-12 col-lg-6">
        <img
          class="img-fluid"
          alt="Girl reading post it not image"
          src="./assets/images/girl-reading-post-it-notes-small-format 2.png"
        />
      </div>
    </div>
  </div>
</div>

<!-- Splash Experiment Zone -->
<div class="strip strip-grey pt-5 pb-3 splash splash-one">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-lg-5 text-left text-sm-center text-lg-left">
          <img
            class="img-fluid ml-lg-n2"
            alt="Experiment Zone Logo"
            src="./assets/images/EZ-logo-footer.png"
            style="width: 100%;"
          />
        <h2 class="mb-1 mb-lg-2">Explore What We Do Better</h2>
        <p class="mb-1 text-justify text-md-left">
          Would you like to get more visitors to become customers?
        </p>
        <p class="mb-1 mb-lg-2 text-justify text-md-left">
          We're here to help you increase conversion rates.
        </p>
        <div class="col-12 text-center text-lg-left mb-4 mb-lg-0">
          <a
          id="ez-learn-more"
          class="button mt-1"
          href="https://experimentzone.com/giveaways/report_card/"
          >
          Learn more
          </a>
        </div>
    </div>
      <div class="col-lg-7 mb-2">
        <div class="container work-summary pt-2 pr-2 pl-2">
          <div class="row">
            <div class="col-12 col-lg-6 mb-2">
              <div class="work work-summary" style="align-items: center;">
                <div class="work-image text-center">
                  <a id="ez-digital-strategey" href="https://experimentzone.com/services/"
                  ><img alt="Conversion Rate Optimization (CRO) Strategies" src="./assets/images/services/icons8-treasure-map-96.png"
                  /></a>
                </div>
                <div>
                  <h3><a id="ez-digital-strategey" href="https://experimentzone.com/services/" class="color-secondary">Digital Strategy</a></h3>
                </div>
                <div class="work-description text-center pr-2 pl-2">
                  <p>Unlock additional value from your website.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 mb-2">
              <div class="work work-summary" style="align-items: center;">
                <div class="work-image text-center">
                  <a id="ez-ab-testing" href="https://experimentzone.com/services/"
                  ><img alt="Conversion Rate Optimization (CRO) Strategies" src="./assets/images/services/icons8-pass-fail-96.png"
                  /></a>
                </div>
                <div>
                  <h3><a id="ez-ab-testing" href="https://experimentzone.com/services/" class="color-secondary">A/B Testing</a></h3>
                </div>
                <div class="work-description text-center pr-2 pl-2">
                  <p>Make data driven decisions with confidence.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 mb-2">
              <div class="work work-summary" style="align-items: center;">
                <div class="work-image text-center">
                  <a id="ez-user-research" href="https://experimentzone.com/services/"
                  ><img alt="Conversion Rate Optimization (CRO) Strategies" src="./assets/images/services/icons8-graph-report-96.png"
                  /></a>
                </div>
                <div>
                  <h3><a id="ez-user-research" href="https://experimentzone.com/services/" class="color-secondary">User Research</a></h3>
                </div>
                <div class="work-description text-center pr-2 pl-2">
                  <p>Understand your customers and their pain points.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 mb-2">
              <div class="work work-summary" style="align-items: center;">
                <div class="work-image text-center">
                  <a id="ez-analytics" href="https://experimentzone.com/services/"
                  ><img alt="Conversion Rate Optimization (CRO) Strategies" src="./assets/images/services/icons8-google_analytics_logo.png"
                  /></a>
                </div>
                <div>
                  <h3><a id="ez-analytics" href="https://experimentzone.com/services/" class="color-secondary">Analytics</a></h3>
                </div>
                <div class="work-description text-center pr-2 pl-2">
                  <p>Track visitors behavior and uncover opportunities.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>




<div class="strip strip-secondary">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 100"
    preserveAspectRatio="none"
  >
    <path class="svg-grey" d="M738,99l262-93V0H0v5.6L738,99z"></path>
  </svg>
</div>



<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/libs/slick.min.js"
></script>
<script
  type="text/javascript"
  src="{{ site.baseurl }}/assets/js/pages/home.js"
></script>



{% include contact-cta.html heading=site.params.contact_cta.heading
subheading=site.params.contact_cta.subheading
button_url=site.params.contact_cta.button_url
button_text=site.params.contact_cta.button_text id=page.contact-button-id %}
{% include email-signup-popup.html %}
