<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"
></script>
<style>
  .pop-header {
    background-color: #6f42b7;
    border-radius: 0.2rem;
  }
  .pop-header h2 {
    color: #fff;
  }
  .pop-header button {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
  }
</style>
<!-- POPUP Modal -->
<div
  class="modal fade"
  id="popupModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="popupModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="pop-header" style="background-color: #6f42b7">
        <h2 class="text-center pt-3">Find your best test ideas</h2>
        <button
          type="button"
          class="close p-1"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <svg
          class="hero-diagonal"
          aria-hidden="true"
          role="presentation"
          viewBox="0 0 100 10"
          preserveAspectRatio="none"
        >
          <polygon fill="#fff" points="0,10 100, 0 100, 10"></polygon>
        </svg>
      </div>
      <div class="modal-body pt-3 text-center">
        <h3 class="text-center">Hypothesis Library is currently in Beta</h3>
        <div class="_form_51 mt-n2"></div>
        <script
          src="https://experimentzone.activehosted.com/f/embed.php?id=51"
          type="text/javascript"
          charset="utf-8"
        ></script>
      </div>
    </div>
  </div>
</div>
